.cards {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
    padding: 20px;
  }
  
  .col-sm-3{
    padding-left: 50px;
  }
  .col-sm-6{
    padding-left: 50px;
  }