.user-register-layout{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.register-form-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}