
<form class="loanoffer"  #form="ngForm" (submit)="onSubmit(form)">
    <div class="container mt-5">
       {{loanOfferId}}
    <div class="loanheader">Loan Offer</div>
    <div class="row">
       
        <div class="form-group">
            <!-- <input type="hidden"  class="form-control" name="loanOfferId" #loanType="ngModel" [(ngModel)]="service.formData.loanOfferId"/> -->
            <label>Loan Type</label>
            <select class="form-control" name="loanType" #loanType="ngModel" [(ngModel)]="service.formData.loanType">
                <option value="Education Loan">Education Loan</option>
                <option value="Gold Loan">Gold Loan</option>
                <option value="Agriculture Loan">Agriculture Loan</option>
                <option value="Car Loan">Car Loan</option>
                <option value="Home Loan">Home Loan</option>
                <option value="Personal Loan">Personal Loan</option>
              </select>
            <!-- <input type="text"  class="form-control" name="loanType" #loanType="ngModel" [(ngModel)]="service.formData.loanType" /> -->
        </div>
        <div class="form-group">
                <label>Loan Amount</label>
                <input type="text"  class="form-control" name="loanAmount" #loanAmount="ngModel" [(ngModel)]="service.formData.loanAmount" />
            </div>
            <div class="form-group">
                <label >Time Period</label>
                <input type="text" id="typeNumber" class="form-control" name="timePeriod" #timePeriod="ngModel" [(ngModel)]="service.formData.timePeriod"/>  
            </div>
        
    </div>
    <div class="row">
        <div class="form-group">
            <label class="form-label" for="typeNumber">Rate Of Interest</label>
            <input type="text" id="typeNumber" class="form-control" name="rateOfInterest" #rateOfInterest="ngModel" [(ngModel)]="service.formData.rateOfInterest" />
            
        </div>
        <div class="form-group">
            <label>Created Date</label>
            <input type="datetime-local"  class="form-control" name="createdDate" #createdDate="ngModel" [(ngModel)]="service.formData.createdDate" />
        </div>
    </div>
    
    
    <div class="form-group">
    <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" type="submit">Save Changes</button>
    </div>
    </div>
    </form>