<div class="footer-layout">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="example-spacer">&copy; All rights reserved</span>
            <p> Contact Us:fastloan@gmail.com</p>
            <span class="example-spacer"></span>
            <div class="stickyicon-list">
                <a href="#facebook" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#twitter" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#linkedin" class="linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#instagram" class="instagram">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#dropbox" class="dropbox">
                    <i class="fa fa-dropbox"></i>
                </a>
                <a href="#github" class="github">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>